@font-face {
    font-family: BaileyScript;
    src: url('BaileyScript/BaileyScript.ttf');
}

:root{
    --bg-color: rgb(12, 4, 58);
    --pop-color: rgb(86, 66, 189);
    --accent-color: rgb(199, 116, 240);
}

body{
    margin: 0;
    background: var(--bg-color);
    color: white;

    font-family: BaileyScript;
}

.horizontal-scroll{
    white-space: nowrap;
    overflow-x: scroll;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/* Navbar */

.navbar{
    padding: 10pt;
    background: var(--bg-color);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: solid 2pt var(--pop-color);
}

.navbar .logo{
    height: 30pt;
    margin-right: 5pt;
}

.navbar .title{
    font-size: 15pt;
    font-weight: 600;
    color: var(--accent-color)
}

/* Section Division */

.section-label{
    font-size: 15pt;
    font-weight: 600;
    padding: 10pt 0;
    margin: 0 20pt;
    margin-top: 30pt;
    text-align: center;
}

/* Nutrient Summary */

.nutrient-summary{
    padding: 10pt 15pt;
    border-radius: 10pt;
}

.nutrient-summary .item{
    display: inline-block;
    width: 70vw;
    padding: 20pt 0;
    margin: 0 7pt;
    background: var(--pop-color);
    color: white;
    border-radius: inherit;
    text-align: center;
}

.nutrient-summary .item .title{
    font-size: 20pt;
    font-weight: 200;
}

.nutrient-summary .item .value{
    font-size: 35pt;
    font-weight: 600;
}

/* List */

.list-display{
    margin: 10pt 20pt;
}

.list-display .item{
    padding: 10pt;
    margin: 5pt 0;
    position: relative;
    font-size: 13pt;
    font-weight: 500;
    border-radius: 10pt;
}

.list-display .item .left{
    max-width: 70%;
}

.list-display .item .right{
    height: 100%;
    max-width: calc(30% - 10pt);
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10pt;
}

.list-display .item .status{
    height: 100%;
    width: 50%;
    border-radius: inherit;
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}